.motor {
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-button {
  display:block;
  width:120px;
  height:120px;
  line-height:120px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #ff4747;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  z-index: 10;
}
.round-button:hover {
  background-color: crimson;
}

@media only screen and (max-width: 600px) {
  .round-button {
    width:50px;
    height:50px;
    line-height:50px;
    font-size:10px;
  }

  .motor {
    width: 60px;
  }
}
